{{#if addNewQuestion}}
  <form>
    <label for="title">Title</label>
    {{input value=title}}
    <label for="title">Author</label>
    {{input value=author}}
    <label for="content">Your Question</label>
    {{input value=content}}
    <button {{action 'save'}}>Submit</button>
  </form>
{{else}}
  <button {{action 'questionFormShow'}}>Get Started</button>
{{/if}}
